<div class="container">
  <div class="fixed-action-btn vertical">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">language</i>
    </a>
    <ul>
      <li><a (click)="switchLanguage('es')" class="btn-floating"><i class="icon-float-es">ES</i></a></li>
      <li><a (click)="switchLanguage('en')" class="btn-floating"><i class="icon-float-en">EN</i></a></li>
      <li><a href='http://linkedin.com/in/cdorados' target="_blank" class="btn-floating"><i class="icon-float-li">EN</i></a></li>
      <li><a href='https://github.com/doradodev' target="_blank" class="btn-floating"><i class="icon-float-git">EN</i></a></li>
      <li>
        <button (click)="downloadPDF()" class="btn-floating green hide-on-small-only"><i class="material-icons">file_download</i></button>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col s12 m5 center-align show-on-small hide-on-med-and-up">
      <h4>Christian Dorado</h4>
      <h6>FullStack Senior Software Engineer</h6>
      <p>{{ 'HOME.DESCRIPTION' | translate }}</p>
    </div>
    <div class="col s12 m5 hide-on-small-only">
      <h4>Christian David Dorado</h4>
      <h6>FullStack Senior Software Engineer</h6>
      <p>{{ 'HOME.DESCRIPTION' | translate }}</p>
    </div>
    <div class="col s12 m2 center-align show-on-small hide-on-med-and-up">
      <img class="img-profile" src="./assets/img/profile.jpeg" alt="profile">
    </div>
    <div class="col s12 m2 hide-on-small-only">
      <img class="img-profile" src="./assets/img/profile.jpeg" alt="profile">
    </div>
    <div class="col s12 m4 center-align show-on-small hide-on-med-and-up">
      <p>cdorado330@gmail.com</p>
      <p>+57 3103968903</p>
      <p>Bogot&aacute;, Colombia</p>
      <p>doradobox</p>
    </div>
    <div class="col s12 m4 right-align hide-on-small-only">
      <p>cdorado330@gmail.com</p>
      <p>+57 3103968903</p>
      <p>Bogot&aacute;, Colombia</p>
      <p>doradobox</p>
    </div>
    <div class="col s12 m1 valign-wrapper hide-on-small-only">
      <p>
        <i class="material-icons">email</i><br>
        <i class="material-icons">phone</i><br>
        <i class="material-icons">location_on</i><br>
        <i class="icon-skype icon-2x"></i>
      </p>
    </div>
  </div>
  <div>
    <hr>
  </div>
  <div class="row">
    <div class="col s12 show-on-small hide-on-med-and-up">
      <h6>{{ 'HOME.TECHNICAL_SKILLS' | translate}}</h6>
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType"></canvas>
    </div>
    <div class="col s12 m6">
      <div class="row">
        <div class="col m12"></div>
        <h6>{{ 'HOME.WORK_EXPERIENCE_TITLE' | translate}}</h6>
      </div>
      <div class="row">
        <h5>{{ 'HOME.SENIOR_POSITION' | translate}}</h5>
        <div class="col s12">
          <a href="https://movile.com/" target="_blank"><img src="../assets/img/logos/logoMovile.svg" alt="" width="65" height="20"></a>
        </div>
        <br>
        <br>
        <div class="col s12 m6 date-label">
          <p>06/2017 - {{ 'HOME.CURRENTLY' | translate}}</p>
        </div>
        <div class="col s12 m6 date-label">
          <p>Bogot&aacute;, Colombia</p>
        </div>
        <div class="col s12">
          <h6 class="date-label">{{ 'HOME.ACHIEVEMENTS' | translate}}</h6>
          <ul>
            <li><p>{{ 'HOME.MOVILE_ACHIEVE_1' | translate}}</p></li>
            <li><p>{{ 'HOME.MOVILE_ACHIEVE_2' | translate}}</p></li>
            <li><p>{{ 'HOME.MOVILE_ACHIEVE_3' | translate}}</p></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <h5>{{ 'HOME.SENIOR_POSITION' | translate}}</h5>
        <div class="col s12">
          <a href="http://www.prodigious.com/" target="_blank"><img src="../assets/img/logos/logoProdigious.gif" alt="" width="100" height="50"></a>
        </div>
        <br>
        <br>
        <div class="col s12 m6 date-label">
          <p>12/2016 - 06/2017</p>
        </div>
        <div class="col s12 m6 date-label">
          <p>Bogot&aacute;, Colombia</p>
        </div>
        <div class="col s12">
          <h6 class="date-label">{{ 'HOME.ACHIEVEMENTS' | translate}}</h6>
          <ul>
            <li><p>{{ 'HOME.PROD_ACHIEVE_1' | translate}}</p></li>
            <li><p>{{ 'HOME.PROD_ACHIEVE_2' | translate}}</p></li>
            <li><p>{{ 'HOME.PROD_ACHIEVE_3' | translate}}</p></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <h5>{{ 'HOME.DEVELOPER_POSITION' | translate}}</h5>
        <div class="col s12">
          <a href="http://psl.com.co/" target="_blank"><img src="../assets/img/logos/logoPsl.png" alt="" width="70" height="35"></a>
        </div>
        <br>
        <br>
        <div class="col s12 m6 date-label">
          <p>06/2015 - 12/2016</p>
        </div>
        <div class="col s12 m6 date-label">
          <p>Bogot&aacute;, Colombia</p>
        </div>
        <div class="col s12">
          <h6 class="date-label">{{ 'HOME.ACHIEVEMENTS' | translate}}</h6>
          <ul>
            <li><p>{{ 'HOME.PSL_ACHIEVE_1' | translate}}</p></li>
            <li><p>{{ 'HOME.PSL_ACHIEVE_2' | translate}}</p></li>
            <li><p>{{ 'HOME.PSL_ACHIEVE_3' | translate}}</p></li>
            <li><p>{{ 'HOME.PSL_ACHIEVE_4' | translate}}</p></li>
            <li><p>{{ 'HOME.PSL_ACHIEVE_5' | translate}}</p></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <h5>{{ 'HOME.DEVELOPER_POSITION' | translate}}</h5>
        <div class="col s12">
          <a href="https://www.ath.com.co/wps/themes/html/ath/index.html" target="_blank"><img src="../assets/img/logos/logo-ath.png" alt="" width="150"
                                                                                               height="75"></a>
        </div>
        <br>
        <br>
        <div class="col s12 m6 date-label">
          <p>12/2013 - 06/2015</p>
        </div>
        <div class="col s12 m6 date-label">
          <p>Bogot&aacute;, Colombia</p>
        </div>
        <div class="col s12">
          <h6 class="date-label">{{ 'HOME.ACHIEVEMENTS' | translate}}</h6>
          <ul>
            <li><p>{{ 'HOME.ATH_ACHIEVE_1' | translate}}</p></li>
            <li><p>{{ 'HOME.ATH_ACHIEVE_2' | translate}}</p></li>
            <li><p>{{ 'HOME.ATH_ACHIEVE_3' | translate}}</p></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <h5>{{ 'HOME.DEVELOPER_POSITION' | translate}}</h5>
        <div class="col s12">
          <a href="http://www.globalhitss.com/" target="_blank"><img src="../assets/img/logos/Logo_hitts.png" alt="" width="140" height="70"></a>
        </div>
        <br>
        <br>
        <div class="col s12 m6 date-label">
          <p>06/2013 - 12/2013</p>
        </div>
        <div class="col s12 m6 date-label">
          <p>Bogot&aacute;, Colombia</p>
        </div>
        <div class="col s12">
          <h6 class="date-label">{{ 'HOME.ACHIEVEMENTS' | translate}}</h6>
          <ul>
            <li><p>{{ 'HOME.HITSS_ACHIEVE_1' | translate}}</p></li>
            <li><p>{{ 'HOME.HITSS_ACHIEVE_2' | translate}}</p></li>
            <li><p>{{ 'HOME.HITSS_ACHIEVE_3' | translate}}</p></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <h5>{{ 'HOME.DEVELOPER_POSITION' | translate}}</h5>
        <div class="col s12">
          <a href="https://www.alta.com.co/" target="_blank"><img src="../assets/img/logos/alta-logo.png" alt="" width="120" height="60"></a>
        </div>
        <br>
        <br>
        <br>
        <div class="col s12 m6 date-label">
          <p>09/2011 - 09/2012</p>
        </div>
        <div class="col s12 m6 date-label">
          <p>Bogot&aacute;, Colombia</p>
        </div>
        <div class="col s12">
          <h6 class="date-label">{{ 'HOME.ACHIEVEMENTS' | translate}}</h6>
          <ul>
            <li><p>{{ 'HOME.ALTA_ACHIEVE_1' | translate}}</p></li>
            <li><p>{{ 'HOME.ALTA_ACHIEVE_2' | translate}}</p></li>
            <li><p>{{ 'HOME.ALTA_ACHIEVE_3' | translate}}</p></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col s12 m6 hide-on-small-only">
      <h6>{{ 'HOME.TECHNICAL_SKILLS' | translate}}</h6>
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType"></canvas>
    </div>
    <div class="col s12 m6">
      <h6 class="title-label">{{ 'HOME.EDUCATION' | translate}}</h6>
      <div class="row">
        <h5 class="title-degree">{{ 'HOME.DEGREE1' | translate}}</h5>
        <a class="title-university" href="https://universidadean.edu.co/es" target="_blank"><h6 class="title-university">{{ 'HOME.UNIVERSITY1' |
          translate}}</h6></a>
        <div class="col s12 m6">
          <p>06/2013 - 06/2014</p>
        </div>
        <div class="col s12 m6">
          <p>Bogot&aacute;, Colombia</p>
        </div>
      </div>
      <div class="row">
        <h5 class="title-degree">{{ 'HOME.DEGREE2' | translate}}</h5>
        <a class="title-university" href="https://www.ucatolica.edu.co/portal/" target="_blank"><h6 class="title-university">{{ 'HOME.UNIVERSITY2' |
          translate}}</h6></a>
        <div class="col s12 m6">
          <p>06/2008 - 06/2012</p>
        </div>
        <div class="col s12 m6">
          <p>Bogot&aacute;, Colombia</p>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <h6 class="title-label">{{ 'HOME.LANGUAGES' | translate}}</h6>
      <br>
      <div class="row">
        <div class="col s4">
          <p>{{ 'HOME.LANGUAGES_SPANISH' | translate}}</p>
        </div>
        <div class="col s1">
          <p><i class="material-icons" style="color: #f04e41">brightness_1</i></p>
        </div>
        <div class="col s1">
          <p><i class="material-icons" style="color: #f04e41">brightness_1</i></p>
        </div>
        <div class="col s1">
          <p><i class="material-icons" style="color: #f04e41">brightness_1</i></p>
        </div>
        <div class="col s1">
          <p><i class="material-icons" style="color: #f04e41">brightness_1</i></p>
        </div>
        <div class="col s1">
          <p><i class="material-icons" style="color: #f04e41">brightness_1</i></p>
        </div>
      </div>
      <div class="row">
        <div class="col s4">
          <p>{{ 'HOME.LANGUAGES_ENGLISH' | translate}}</p>
        </div>
        <div class="col s1">
          <p><i class="material-icons" style="color: #f04e41">brightness_1</i></p>
        </div>
        <div class="col s1">
          <p><i class="material-icons" style="color: #f04e41">brightness_1</i></p>
        </div>
        <div class="col s1">
          <p><i class="material-icons" style="color: #f04e41">brightness_1</i></p>
        </div>
        <div class="col s1">
          <p><i class="material-icons" style="color: #f04e41">brightness_1</i></p>
        </div>
        <div class="col s1">
          <p><i class="material-icons" style="color: #f04e41">panorama_fish_eye</i></p>
        </div>
      </div>
      <div class="row">
        <div class="col s4">
          <p>{{ 'HOME.LANGUAGES_FRENCH' | translate}}</p>
        </div>
        <div class="col s1">
          <p><i class="material-icons" style="color: #f04e41">brightness_1</i></p>
        </div>
        <div class="col s1">
          <p><i class="material-icons" style="color: #f04e41">brightness_1</i></p>
        </div>
        <div class="col s1">
          <p><i class="material-icons" style="color: #f04e41">panorama_fish_eye</i></p>
        </div>
        <div class="col s1">
          <p><i class="material-icons" style="color: #f04e41">panorama_fish_eye</i></p>
        </div>
        <div class="col s1">
          <p><i class="material-icons" style="color: #f04e41">panorama_fish_eye</i></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container container-pdf" #container *ngIf="pdf">
  <div class="row">
    <div class="col m6 hide-on-small-only">
      <h4>Christian David Dorado</h4>
      <h6>FullStack Senior Software Engineer</h6>
      <p>{{ 'HOME.DESCRIPTION' | translate }}</p>
    </div>
    <div class="col m5 right-align" style="padding-top: 15px">
      <p>cdorado330@gmail.com</p>
      <p>+57 3103968903</p>
      <p>Bogot&aacute;, Colombia</p>
      <p>doradobox</p>
    </div>
    <div class="col m1 valign-wrapper" style="padding-top: 15px">
      <p>
        <i class="icon-envelope-alt icon-2x"></i><br>
        <i class="icon-phone icon-2x"></i><br>
        <i class="icon-home icon-2x"></i><br>
        <i class="icon-skype icon-2x"></i>
      </p>
    </div>
  </div>
  <div>
    <hr>
  </div>
  <div class="row">
    <div class="col s12 m6">
      <div class="row">
        <div class="col m12"></div>
        <h6>{{ 'HOME.WORK_EXPERIENCE_TITLE' | translate}}</h6>
      </div>
      <div class="row">
        <h5>{{ 'HOME.SENIOR_POSITION' | translate}}</h5>
        <div class="col s12">
          <a href="https://movile.com/" target="_blank"><img src="../assets/img/logos/logoMovile.svg" alt="" width="65" height="20"></a>
        </div>
        <br>
        <br>
        <div class="col s12 m6 date-label">
          <p>06/2017 - {{ 'HOME.CURRENTLY' | translate}}</p>
        </div>
        <div class="col s12 m6 date-label">
          <p>Bogot&aacute;, Colombia</p>
        </div>
        <div class="col s12">
          <h6 class="date-label">{{ 'HOME.ACHIEVEMENTS' | translate}}</h6>
          <ul>
            <li><p>{{ 'HOME.MOVILE_ACHIEVE_1' | translate}}</p></li>
            <li><p>{{ 'HOME.MOVILE_ACHIEVE_2' | translate}}</p></li>
            <li><p>{{ 'HOME.MOVILE_ACHIEVE_3' | translate}}</p></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <h5>{{ 'HOME.SENIOR_POSITION' | translate}}</h5>
        <div class="col s12">
          <a href="http://www.prodigious.com/" target="_blank"><img src="../assets/img/logos/logoProdigious.gif" alt="" width="100" height="50"></a>
        </div>
        <br>
        <br>
        <div class="col s12 m6 date-label">
          <p>12/2016 - 06/2017</p>
        </div>
        <div class="col s12 m6 date-label">
          <p>Bogot&aacute;, Colombia</p>
        </div>
        <div class="col s12">
          <h6 class="date-label">{{ 'HOME.ACHIEVEMENTS' | translate}}</h6>
          <ul>
            <li><p>{{ 'HOME.PROD_ACHIEVE_1' | translate}}</p></li>
            <li><p>{{ 'HOME.PROD_ACHIEVE_2' | translate}}</p></li>
            <li><p>{{ 'HOME.PROD_ACHIEVE_3' | translate}}</p></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <h5>{{ 'HOME.DEVELOPER_POSITION' | translate}}</h5>
        <div class="col s12">
          <a href="http://psl.com.co/" target="_blank"><img src="../assets/img/logos/logoPsl.png" alt="" width="70" height="35"></a>
        </div>
        <br>
        <br>
        <div class="col s12 m6 date-label">
          <p>06/2015 - 12/2016</p>
        </div>
        <div class="col s12 m6 date-label">
          <p>Bogot&aacute;, Colombia</p>
        </div>
        <div class="col s12">
          <h6 class="date-label">{{ 'HOME.ACHIEVEMENTS' | translate}}</h6>
          <ul>
            <li><p>{{ 'HOME.PSL_ACHIEVE_1' | translate}}</p></li>
            <li><p>{{ 'HOME.PSL_ACHIEVE_2' | translate}}</p></li>
            <li><p>{{ 'HOME.PSL_ACHIEVE_3' | translate}}</p></li>
            <li><p>{{ 'HOME.PSL_ACHIEVE_4' | translate}}</p></li>
            <li><p>{{ 'HOME.PSL_ACHIEVE_5' | translate}}</p></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <h5>{{ 'HOME.DEVELOPER_POSITION' | translate}}</h5>
        <div class="col s12">
          <a href="https://www.ath.com.co/wps/themes/html/ath/index.html" target="_blank"><img src="../assets/img/logos/logo-ath.png" alt="" width="150"
                                                                                               height="75"></a>
        </div>
        <br>
        <br>
        <div class="col s12 m6 date-label">
          <p>12/2013 - 06/2015</p>
        </div>
        <div class="col s12 m6 date-label">
          <p>Bogot&aacute;, Colombia</p>
        </div>
        <div class="col s12">
          <h6 class="date-label">{{ 'HOME.ACHIEVEMENTS' | translate}}</h6>
          <ul>
            <li><p>{{ 'HOME.ATH_ACHIEVE_1' | translate}}</p></li>
            <li><p>{{ 'HOME.ATH_ACHIEVE_2' | translate}}</p></li>
            <li><p>{{ 'HOME.ATH_ACHIEVE_3' | translate}}</p></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <h5>{{ 'HOME.DEVELOPER_POSITION' | translate}}</h5>
      <div class="col s12">
        <a href="http://www.globalhitss.com/" target="_blank"><img src="../assets/img/logos/Logo_hitts.png" alt="" width="140" height="70"></a>
      </div>
      <br>
      <br>
      <div class="col s12 m6 date-label">
        <p>06/2013 - 12/2013</p>
      </div>
      <div class="col s12 m6 date-label">
        <p>Bogot&aacute;, Colombia</p>
      </div>
      <div class="col s12">
        <h6 class="date-label">{{ 'HOME.ACHIEVEMENTS' | translate}}</h6>
        <ul>
          <li><p>{{ 'HOME.HITSS_ACHIEVE_1' | translate}}</p></li>
          <li><p>{{ 'HOME.HITSS_ACHIEVE_2' | translate}}</p></li>
          <li><p>{{ 'HOME.HITSS_ACHIEVE_3' | translate}}</p></li>
        </ul>
      </div>
    </div>
    <div class="col s12 m6">
      <h5>{{ 'HOME.DEVELOPER_POSITION' | translate}}</h5>
      <div class="col s12">
        <a href="https://www.alta.com.co/" target="_blank"><img src="../assets/img/logos/alta-logo.png" alt="" width="120" height="60"></a>
      </div>
      <br>
      <br>
      <br>
      <div class="col s12 m6 date-label">
        <p>09/2011 - 09/2012</p>
      </div>
      <div class="col s12 m6 date-label">
        <p>Bogot&aacute;, Colombia</p>
      </div>
      <div class="col s12">
        <h6 class="date-label">{{ 'HOME.ACHIEVEMENTS' | translate}}</h6>
        <ul>
          <li><p>{{ 'HOME.ALTA_ACHIEVE_1' | translate}}</p></li>
          <li><p>{{ 'HOME.ALTA_ACHIEVE_2' | translate}}</p></li>
          <li><p>{{ 'HOME.ALTA_ACHIEVE_3' | translate}}</p></li>
        </ul>
      </div>
    </div>
    <br>
    <br>
    <div class="col s12 m6">
      <h6>{{ 'HOME.TECHNICAL_SKILLS' | translate}}</h6>
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType"></canvas>
    </div>
    <div class="col s12 m6">
      <h6 class="title-label">{{ 'HOME.EDUCATION' | translate}}</h6>
      <div class="row">
        <h5 class="title-degree">{{ 'HOME.DEGREE1' | translate}}</h5>
        <a class="title-university" href="https://universidadean.edu.co/es" target="_blank"><h6 class="title-university">{{ 'HOME.UNIVERSITY1' |
          translate}}</h6></a>
        <div class="col s12 m6">
          <p>06/2013 - 06/2014</p>
        </div>
        <div class="col s12 m6">
          <p>Bogot&aacute;, Colombia</p>
        </div>
      </div>
      <div class="row">
        <h5 class="title-degree">{{ 'HOME.DEGREE2' | translate}}</h5>
        <a class="title-university" href="https://www.ucatolica.edu.co/portal/" target="_blank"><h6 class="title-university">{{ 'HOME.UNIVERSITY2' |
          translate}}</h6></a>
        <div class="col s12 m6">
          <p>06/2008 - 06/2012</p>
        </div>
        <div class="col s12 m6">
          <p>Bogot&aacute;, Colombia</p>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <h6 class="title-label">{{ 'HOME.LANGUAGES' | translate}}</h6>
      <br>
      <div class="row">
        <div class="col s4">
          <p>{{ 'HOME.LANGUAGES_SPANISH' | translate}}</p>
        </div>
        <div class="col s1">
          <p><i class="icon-circle icon-2x" style="color: #f04e41"></i></p>
        </div>
        <div class="col s1">
          <p><i class="icon-circle icon-2x" style="color: #f04e41"></i></p>
        </div>
        <div class="col s1">
          <p><i class="icon-circle icon-2x" style="color: #f04e41"></i></p>
        </div>
        <div class="col s1">
          <p><i class="icon-circle icon-2x" style="color: #f04e41"></i></p>
        </div>
        <div class="col s1">
          <p><i class="icon-circle icon-2x" style="color: #f04e41"></i></p>
        </div>
      </div>
      <div class="row">
        <div class="col s4">
          <p>{{ 'HOME.LANGUAGES_ENGLISH' | translate}}</p>
        </div>
        <div class="col s1">
          <p><i class="icon-circle icon-2x" style="color: #f04e41"></i></p>
        </div>
        <div class="col s1">
          <p><i class="icon-circle icon-2x" style="color: #f04e41"></i></p>
        </div>
        <div class="col s1">
          <p><i class="icon-circle icon-2x" style="color: #f04e41"></i></p>
        </div>
        <div class="col s1">
          <p><i class="icon-circle icon-2x" style="color: #f04e41"></i></p>
        </div>
        <div class="col s1">
          <p><i class="icon-circle-blank icon-2x" style="color: #f04e41"></i></p>
        </div>
      </div>
      <div class="row">
        <div class="col s4">
          <p>{{ 'HOME.LANGUAGES_FRENCH' | translate}}</p>
        </div>
        <div class="col s1">
          <p><i class="icon-circle icon-2x" style="color: #f04e41"></i></p>
        </div>
        <div class="col s1">
          <p><i class="icon-circle icon-2x" style="color: #f04e41"></i></p>
        </div>
        <div class="col s1">
          <p><i class="icon-circle-blank icon-2x" style="color: #f04e41"></i></p>
        </div>
        <div class="col s1">
          <p><i class="icon-circle-blank icon-2x" style="color: #f04e41"></i></p>
        </div>
        <div class="col s1">
          <p><i class="icon-circle-blank icon-2x" style="color: #f04e41"></i></p>
        </div>
      </div>
    </div>
  </div>
</div>





